* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 30px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 175%;
}

h2 {
  width: 100px;
  float: right;
  text-align: center;
  border: 1px black solid;
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 125%;
}
#soup {
  background-color: pink;
}
#sushi {
  background-color: green;
}
#pasta {
  background-color: purple;
}
.content {
  clear: both;
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica;
}

.row {
  padding-right: -50px;
}

.dish {
  float: left;
  margin: 0 0 15px 15px;
  border: 1px black solid;
  background-color: grey;
}

/*Phone view*/
@media (max-width: 767px) {
  .dish {
    float: left;
    width: calc(100% - 20px);
  }
}

/*Tablet view*/
@media (min-width: 768px) and (max-width: 991px) {
  .dish {
    float: left;
    width: calc(50% - 20px);
  }
  .dish:nth-child(3) {
    width: calc(100% - 25px);
  }
}

/*Desktop view*/
@media (min-width: 991px) {
  .dish {
    width: calc(33.33% - 20px);
    float: left;
  }
}
