body {
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
}

h1 {
  width: 100px;
  box-sizing: border-box;
  border: 1px black solid;
  margin: 0;
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica;
  background-color: pink !important;
  font-size: 175%;
}
.dishname {
  float: right;
}
.content {
  clear: both;
  margin: 0;
  padding: 10px;
  font-size: 125%;
  font-family: "Helvetica Neue", Helvetica;
}
.container {
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.row {
  box-sizing: border-box;
  float: right;
  width: 100%;
  margin: 0;
}

.dish {
  box-sizing: border-box;
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
  border: 1px black solid;
  background-color: grey;
}

/*Phone view*/
@media (max-width: 767px) {
  .dish-sm {
    width: 100%;
  }
}

/*Tablet view*/
@media (min-width: 768px), (max-width: 991px) {
  .dish-md {
    width: 50%;
  }
}

/*Desktop view*/
@media (min-width: 991px) {
  .dish-lg {
    box-sizing: border-box;
    width: 33%;
  }
}
